@media (max-width: 1090px) {
    #imgul1 {
        width: 350px;
        height: 350px;
        margin-right: 10px;
        border-radius: 15px;
    }

    .max-width {
        max-width: 800px;
        padding: 0 50px;
    }

    .menu-btn {
        display: block;
        z-index: 999;
    }

    .navbar .menu {
        position: fixed;
        width: 50%;
        height: 80vh;
        left: -50%;
        top: 0;
        background: #111;
        padding-top: 80px;
        text-align: center;
        transition: all 0.3s ease;
    }

    .navbar .menu.active {
        left: 0;
    }

    .navbar .menu li {
        display: block;
    }

    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }

    .home .home-content .text-2 {
        font-size: 70px;
    }

    .home .home-content .text-3 {
        font-size: 35px;
    }

    .home .home-content a {
        font-size: 23px;
        padding: 10px 30px;
    }

    .about .about-content .column {
        width: 50%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right {
        flex: 100%;
    }

    .services .serv-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

    .skills .skills-content .column,
    .contact .contact-content .column {
        width: 100%;
        margin-bottom: 35px;
    }

    footer {
        margin-top: 15px;
    }
}

@media (max-width: 662px) {
    #imgul1 {
        width: 250px;
        height: 250px;
        margin-right: 30px;
        border-radius: 15px;
    }
}

@media (max-width: 600px) {
    #imgul1 {
        display: none;
    }

    .home {
        background: url(assets/t3.jpg) no-repeat center center;
        background-size: 100%, 100%;

    }

    header {
        background: #111;
    }

    .text-1 {
        margin-top: 0px;
    }

    .text-2 {
        display: none;
    }

    .text-3 span {
        display: none;
    }

    .text-4 {
        display: none;
    }

    #porra {
        margin-top: 250px;
    }

    #imgul {
        width: 450px;
        height: 450px;
        margin-left: 20px;
        border-radius: 15px;
    }
}

@media (max-width: 450px) {
    #imgul1 {
        display: none;
    }

    .home {
        background: url(assets/t3.jpg) no-repeat center center;
        background-size: 100%, 100%;

    }

    header {
        background: #111;
    }

    .text-1 {
        margin-top: 0px;
    }

    .text-2 {
        display: none;
    }

    .text-3 span {
        display: none;
    }

    .text-4 {
        display: none;
    }

    #porra {
        margin-top: 250px;
    }

    #imgul {
        width: 250px;
        height: 250px;
        margin-left: 25px;
        border-radius: 15px;
    }

    #imgul3 {
        width: 220px;
        height: 220px;
    }

}

@media (max-width: 398px) {
    #imgul1 {
        display: none;
    }

    .home {
        background: url(assets/t3.jpg) no-repeat center center;
        background-size: 100%, 100%;

    }

    header {
        background: #111;
    }

    .text-1 {
        margin-top: 30px;
    }

    .text-2 {
        display: none;
    }

    .text-3 span {
        display: none;
    }

    .text-4 {
        display: none;
    }

    #porra {
        margin-top: 250px;
    }

    #imgul {
        width: 230px;
        height: 230px;
        margin-left: 25px;
        border-radius: 15px;
    }

    #services .box div {
        font-size: 20px;
        text-decoration: underline;
        color: #00804b;
    }

    #imgul3 {
        width: 200px;
        height: 200px;
    }
}